<li><a href="{% url 'catelog_home' %}">Home</a></li> 
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span
    class="caret"></span></a>
    <ul class="dropdown-menu">
{% for c in active_categories %}
   <li> <a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
{% endfor %}
    </ul>
</li>
<li><a href="{% url 'catelog_home' %}">About</a></li>
<li><a href="{% url 'catelog_home' %}">Privacy</a></li> 
<li><a href="{% url 'catelog_home' %}">Contact</a></li>
